<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<ion-view title="Profile">
    <ion-content padding="'true'" class="has-header" >

		<ion-list>
            
			<ion-item class="item-divider">Details</ion-item>
			
			<label class="item item-input">
                <span class="input-label">Name</span>
				<textarea placeholder="" readonly > {{" "+ loggedin_username}}</textarea>
            </label>
			
			<label class="item item-input">
                <span class="input-label">Email</span>
				<textarea placeholder="" readonly >{{" "+ loggedin_email}}</textarea>
            </label>

			<label class="item item-input">
                <span class="input-label">Phone</span>
				<textarea placeholder="" readonly > {{" "+ loggedin_phone}}</textarea>
            </label>

            <label class="item item-input">
                <span class="input-label">Address</span>
				<textarea placeholder="" readonly > {{" "+ loggedin_address}}</textarea>
            </label>
			
          
			
		
			<!-- <div class="button-bar">
	            <a href="#/page10" class="button button-dark button-block  icon ion-briefcase"></a>
	            <a href="#/page11" class="button button-dark button-block  icon ion-edit"></a>
	            <a href="#/page12" class="button button-dark button-block  icon ion-android-favorite"></a>
        	</div> -->

        	<div class="button-bar button-positive button-block row">
            	<!-- <div class="col"> <a href="#/page10" class="button button-dark button-block  icon ion-briefcase"></a></div> -->
            	<div class="col"> <a href="#/page11" class="button button-dark button-block  icon ion-edit"></a></div>
            	<!-- <div class="col"> <a href="waze://?ll=44.968046,-94.420307&navigate=yes" class="button button-dark button-block  icon ion-android-favorite"></a></div> -->
        	</div>
		
			<button ng-click="logout()" class="button button-dark button-block  icon-center ion-log-out"> Logout</button>
			
	    </ion-list>   
    </ion-content>
</ion-view>