/* Empty. Add your own CSS if you like */
.pane {
    background-image: url(../img/logo.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.scroll-content{
    background: url("../img/logo2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

html, body{
  background-image:url("../img/logo2.jpg");

}